body {
  background: #484a4a !important;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}

h1 {
  font-family: "Homemade Apple", cursive;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: none;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  padding-top: 20px;
}

.input-section,
.dropdown-section,
.task-section,
.buttons-section {
  padding-bottom: 20px;
  border-bottom: none;
}

.input-field,
.calendar-button,
.save-button {
  padding: 20px;
  margin: 0;
  height: 56px;
  background-color: #666667;
  border: none;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.calendar-button {
  width: 100%;
}

.save-button {
  width: 100%;
}

.dropdown-field {
  width: 50%;
  padding: 20px;
  border-radius: 0;
  background-color: #666667;
  border: none;
  color: #fff;
}

.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.calendar-text {
  margin-left: 5px;
}

.buttons-section .button {
  margin-top: 0;
  margin-left: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}